name: Build
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
jobs:
  Ubuntu-2204:
    strategy:
      matrix:
        runs-on: ['ubuntu-22.04', 'ubuntu-22.04-arm']
        build: ['ubuntu2204', 'ubuntu2204_sury84']
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Inspections
        id: inspections
        run: echo "arch=$(uname -m)" >> $GITHUB_OUTPUT
      - name: Build container
        run: |
          docker build -t"builder" -f"./build/${{ matrix.build }}/Dockerfile" .
      - name: Build extension with container
        run: |
          mkdir "artifacts"
          docker run --env VERSION="${{ github.ref_name }}" --rm -v"$(pwd)/artifacts:/tmp/artifacts" -i "builder"
      - name: Upload .deb packages
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.build }}_${{ steps.inspections.outputs.arch }}
          path: artifacts/
